<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 扫描service相关的bean -->
    <context:component-scan base-package="com.tw.service"/>

    <!--StaffServiceImpl注入到IOC容器中-->
    <bean id="StaffServiceImpl" class="com.tw.service.StaffServiceImpl">
        <property name="staffMapper" ref="staffMapper"/>
    </bean>
    <!--DepartmentServiceImpl注入到IOC容器中-->
    <bean id="DepartmentServiceImpl" class="com.tw.service.DepartmentServiceImpl">
        <property name="departmentMapper" ref="departmentMapper"/>
    </bean>
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>