<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tw.dao.StaffMapper">
    <!--增加一个员工-->
    <insert id="addStaff" parameterType="Staff">
        insert into personnel_management.staff (StaffId, StaffName, StaffAge, StaffSex, StaffPolitical, StaffPosition,
                                                StaffDepartment, StaffAddress, HireDate, WorkingYears)
        values (#{StaffId}, #{StaffName}, #{StaffAge}, #{StaffSex}, #{StaffPolitical}, #{StaffPosition},
                #{StaffDepartment}, #{StaffAddress}, #{HireDate}, #{WorkingYears});
    </insert>
    <!--根据StaffId删除一个员工-->
    <delete id="deleteStaffByStaffId" parameterType="int">
        delete
        from personnel_management.staff
        where StaffId = #{StaffId}
    </delete>
    <!--更新员工信息-->
    <update id="updateStaff" parameterType="Staff">
        update personnel_management.staff
        set StaffName      = #{StaffName},
            StaffAge       = #{StaffAge},
            StaffSex       = #{StaffSex},
            StaffPolitical = #{StaffPolitical},
            StaffPosition  = #{StaffPosition},
            StaffDepartment= #{StaffDepartment},
            StaffAddress   = #{StaffAddress},
            HireDate       = #{HireDate},
            WorkingYears   = #{WorkingYears}
        where StaffId = #{StaffId}
    </update>

    <!--根据StaffId查询,返回一个员工-->
    <select id="queryStaffByStaffId" resultType="Staff">
        select *
        from personnel_management.staff
        where StaffId = #{StaffId}
    </select>

    <!--查询所有员工返回一个List集合-->
    <select id="queryAllStaff" resultType="Staff">
        SELECT *
        from personnel_management.staff
    </select>

    <!--通过姓名模糊查询-->
    <select id="queryStaffLikeSurname" resultType="Staff">
        select *
        from personnel_management.staff
        where StaffName like #{StaffSurname}
    </select>
</mapper>